<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Alert Messager - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../src/easyui/easyui.css">
	<link rel="stylesheet" type="text/css" href="../src/easyui/icon.css">
	<link rel="stylesheet" type="text/css" href="../src/easyui/demo.css">
	<script type="text/javascript" src="../src/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../src/easyui/jquery.easyui.min.js"></script>
	<style type="text/css">
		#container{
			background-color:#0ff;
			overflow:hidden;
			margin:0 100px;
			padding-right:220px; /* 宽度大小等与边栏宽度大小*/
		}
		* html #container{
			height:1%; /* So IE plays nice */
		}
		#content{
			background-color:#0ff;
			width:100%;
			border-right:220px solid #f00;
			margin-right:-220px;
			float:left;
		}
		#sidebar{
			background-color:#f00;
			width:220px;
			float:left;
			margin-right:-220px;
		}
	</style>


</head>

<body>
<div id="container">
	<div id="content">Main content section
		<br>
		<br>
		<br>
		<br>
	</div>
	<div id="sidebar">Right Sidebar </div>
</div>



</body>
</html>