/* =============================================================================
   NORMALIZATION
========================================================================== */

*  {
  margin: 0;
  padding: 0;
}


ul, ol {
    list-style: none;
}


/* =============================================================================
   COMMONS
========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #EEEEEE;
}












/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;

}

.demo:hover .gridster {
    opacity: 1;
}

.gridster {
    width: 80%;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}


.gridster .gs_w.try {
    
/*     background-position: 37px -169px;
 */
}
.gridster .gs_w.case {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    /* background-position: 37px -169px; */
    
}












